
    </div>

    <script src="https://www.falabella.com/static/assets/scripts/browse.js?vid=2222" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="./static/RDF/site/content/landing/samsung-2018/js/jquery.waypoints.js"></script>
    <script src="./static/RDF/site/content/landing/samsung-2018/js/jquery.fancybox.min.js"></script>
    <script src="./static/RDF/site/content/landing/samsung-2018/js/app.js"></script>


</body>
</html>
